.order-history-container {
    width: 100%;
    height: 79vmin;
}

.order-history-header {
    display: inline-flex;
    width: 100%;
}

.order-history-header button {
    border: 0;
    background: transparent;
    opacity: 50%;
    margin-left: 3vh;
}

.order-history-header h3 {
    font-size: 22pt;
    font-weight: 800;
    margin: 2vh auto;
}

.order-history-navigation-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.order-history-navigation-bar ul li {
    position: relative;
}

.order-history-navigation-bar ul li button {
    border: 0;
    background: transparent;
    font-size: 20pt;
}

.order-history-navigation-bar ul li button:focus {
    border-bottom: 2px solid #FF7020;
    color: #FF7020;
}

.navigation-btn-93w {
    width: 115px;
}

.navigation-btn-127w {
    width: 150px;
}

.quantity-notification {
    width: 25px;
    height: 18px;
    border-radius: 5px;
    background-color: #DE780E;
    color: #ffffff;
    font-size: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2vh;
    right: -2vw;
}

.order-history-body {
    background-color: #DADADA;
    height: 100%;
}

.order-history-search-bar {
    width: 90%;
    border: 1px gray solid;
    border-radius: 10px;
    height: 8vh;
    background-color: white;
    display: inline-flex;
    margin: 20px 5vw;
}

.order-history-search-bar button {
    background: transparent;
    border: 0;
    height: 100%;
    width: 5%;
    opacity: 50%;
}

.order-history-search-bar button img {
    width: 30px;
    height: 30px;
}

.order-history-search-bar input {
    width: 93%;
    height: 90%;
    border: 0;
    font-size: 17pt;
}

.order-history-search-bar input:focus {
    outline: 0;
}

.order-history-orderlist {
    background: white;
    width: 100%;
    height: 65vh;
}

.order-history-orderTitle {
    width: 30%;
    float: left;
}

.order-history-orderTitle p,
.order-history-detailTitle {
    font-weight: 300;
    font-size: 16pt;
    color: #979797;
    margin-left: 2vw;
}

.order-history-orderContent {
    width: 70%;
    float: right;
}

.order-history-orderContent p {
    font-weight: 700;
    font-size: 18pt;
}

.orderId {
    color: #FF7020;
}

.order-history-orderlist p.order-history-orderTitle {
    margin-left: 20px;
    margin-top: 20px;
}

.order-history-detail {   
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
}

.detail-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 50px;
}

.detail-grid .hidden-content {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.detail-product-price {
    text-align: right;
}

.detail-product-name p,
.detail-product-price p {
    font-size: 16pt;
}

.btn-link-center {
    border: 0;
    background-color: transparent;
    color: #F68D1E;
    display: block;
    margin: 0 auto;
}

.orange {
    color: #F68D1E;
}

.strong {
    font-weight: 700;
}

.total-price {
    display: flex;
}

.total-price > p {
    flex: 9;
}

.total-price > * {
    padding: 0;
}

.total-price button {
    border: 0;
    background-color: transparent;
    margin-right: -2vw;
}

/*---------------------------------Mobile phone----------------------------------*/
@media screen and (max-width: 414px) {
    .order-history-navigation-bar ul {
        padding: 0;
    }

    .order-history-navigation-bar ul li button {
        font-size: 14pt;
        padding: 0;
        width: 100%;
    }

    .quantity-notification {
        top: -3vh;
        right: -5vw;
    }

    .order-history-search-bar {
        height: 10vh;
    }

    .order-history-search-bar input::placeholder {
        font-size: 11pt;
        padding-left: 3vw;
    }

    .order-history-search-bar button img {
        width: 25px;
        height: 25px;
    }

    .order-history-orderTitle {
        width: 40%;
    }

    .order-history-orderTitle p,
    .order-history-detailTitle {
        font-size: 12pt;
    }

    .order-history-orderContent p {
        font-size: 11pt;
    }

    .order-history-orderContent {
        width: 60%;
    }
    
    .detail-product-name p,
    .detail-product-price p {
        font-size: 12pt;
    }
}